div, header, footer {
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    background: blue;
    height: 150px;
    margin-bottom: 30px;
    text-align: center;
}

main {
    width: 600px;
}


header, footer {
    width: 600px;
}

.cell {
    width: 180px;
    float: left;
    margin-right: 30px;
}

footer {
    clear: both;
}

.cell:last-of-type{
    margin-right: 0px;
}