main {
    width: 600px;
    margin: 0 auto;
}

.row {
    width: 100%;
}

.cell {
    min-height: 150px;
    margin-bottom: 30px;
    background: blue;
    float: left;
    margin-right: 30px;
}

.col-1 {
    width: 180px;
}

.col-2 {
    width: 390px;
}

.col-3 {
    width: 600px;
}

.cell:last-of-type {
    margin-right: 0px;
}