* {
    font-family: 'PT-Sans';
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

main {
    background: #222533;
    margin: auto;
    height: 480px;
    border: 1px #707070 solid;
    padding: 105px;
}

.box {
    width: 270px;
    height: 270px;
    float: left;
    margin-right: 30px;
}

p {
    color: white;
}

.coolunderline { 
    border-bottom: 3px #1ABC9C solid;
    width: 70px;
}

h2 {
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 5px;
}