.box {
    float: left;
    position: relative;
    border-radius: 6px;
    width: 75px;
    height: 75px;
    background: lightgray;
    margin: 50px;
}

div {
    color: white;
    text-align: center;
    position: absolute;
    right: -15%;
    top: -15%;
    background: red;
    border-radius: 50%;
    border: 2px white solid;
    width: 25px;
    height: 25px;
}

.notification {
    width: 50px;
    border-radius: 45%;
}
