section {
    position: relative;
    width: 350px;
    height: 120px;
    border: 1px solid;
    padding: 15px;
}

p {
    color: gray;
}

.title {
    color: black;
    font-size: 110%;
    font-weight: 600;
}

.xbutton {
    position: absolute;
    top: 15px;
    right: 15px;
    color: gainsboro;
}

