section {
    position: relative;
    margin: auto;
    width: 500px;
    height: 150px;
}

div {
    height: 50%;
}

.underline {
    border-bottom: 1px lightgray solid;
}

.withtext {
    text-align: center;
    width: 100px;
    top: -20%;
    position: relative;
    left: 40%;
    transform: translate(50% 50%);
    background-color: white;
}

